<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Logbot Grapher</title>
        <style type="text/css">
            body{background-color: #348;}
            #banner{background-color: #236; font:1.8em "DejaVu Sans"; color: #024; text-align: center; margin: auto; width: 240px; border: 3px solid #2C3C7C; border-radius: 15px; text-shadow: 0 0 4px #024;}
            #headline{color: #568; font-weight: bold; top: 5px; left: 10px; position: absolute;}
            .content{background-color: #8AC; margin-top: 25px; padding: 10px;}
            .datemenu{background-color: #57A; color: #EB4; font-family:"DejaVu Sans Mono"; font-weight: bold; text-align: center; width: 8em; margin: -25px auto 5px 0; border: 2px solid #FED; border-radius: 5px;}
            .log{border: solid 2px #9EB9CF; padding: 3px; background-color: #DEF; overflow: auto;}
            .log div{padding: 3px 6px 3px 6px;}
            .time{font:0.8em "DejaVu Sans Mono"; color: #777; width: 4em; float: left;}
            .name{font:0.8em "DejaVu Sans"; color: #666; width: 10em; text-align: right; float: left;}
            .tag{display: none;}
            .msg{ margin-left: 13em;}
            .footer{font: 0.8em "DejaVu Sans"; text-align: center; margin: 20px 0; color: #78A;}
            .footer a{color: #EB4;}
            .footer a:hover{color: #FC5;}
            .__SYSTEM__{color: #666; font-style: italic;}
        </style>
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <div id="banner">Log Grapher</div>
        <div id="headline"><%- headline %></div>
        <div class="topmenu"><%- topmenu %></div>
        <div class="content"><div class="datemenu"><%- datemenu %></div><%- result %></div>
        <div class="footer">Log Grapher is first cooked by Seiken. Find it at <a href="https://github.com/Seiken-2ch/log-grapher" target="_blank">GitHub</a>.</div>
    </body>
</html>