<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Log Grapher</title>
        <style type="text/css">
            body{background-color: #348; overflow-y: scroll;}
            #banner{background-color: #236; font:1.8em "DejaVu Sans"; color: #024; text-align: center; margin: auto; width: 240px; border: 3px solid #2C3C7C; border-radius: 15px; text-shadow: 0 0 4px #024;}
            #headline{color: #568; font-weight: bold; top: 5px; left: 10px; position: absolute;}
            #content{background-color: #8AC; padding: 15px 10px;}
            .date{background-color: #57A; color: #F9C636; font-family:"DejaVu Sans Mono"; font-weight: bold; text-align: center; width: 10em; margin: 15px 0 -5px 2px; border: 2px solid #FED; border-radius: 5px;}
            #datemenu{margin: 10px 0 -12px 11px; position: relative; border: 2px solid #FED; border-radius: 5px;}
            .log{border: solid 2px #9EB9CF; padding: 3px; background-color: #DEF; overflow: auto;}
            .log div{padding: 3px 6px 3px 6px;}
            .log[data-tag=__SYSTEM__]{color: #666; font-style: italic;}
            .log[data-tag=__ACTION__]{color: #174; font-style: italic;}
            .log[data-tag=__ACTION__] .msg{margin-left: 12.6em;}
            .time{font:0.8em "DejaVu Sans Mono"; text-align: right; color: #777; width: 4em; float: left;}
            .name{font:0.8em "DejaVu Sans"; color: #666; width: 10em; text-align: right; float: left;}
            .tag{display: none;}
            .msg{ margin-left: 13em;}
            #loading{font:1.7em "DejaVu Sans"; background-color: #68A; text-align: center; width: 250px; height:54px; top: 50%; left: 50%; margin: -30px auto auto -129px; position: fixed; border: 4px solid #F9C636; border-radius: 10px; display: none;}
            #loading span{font-size: 0.5em; display: block;}
            #footer{font: 0.8em "DejaVu Sans"; text-align: center; margin: 20px 0; color: #78A;}
            #footer a{color: #EB4;}
            #footer a:hover{color: #FC5;}
            .mark{cursor: pointer;}
            .grey-mark{color:#445;}
        </style>
        <script src="public/jquery-1.10.2.min.js"></script> 
        <script type="text/javascript">
            var logStart = <%- logStart %>,
            displayDay;

            //Forming time in logs.
            function timeWarp(){
                $(".log").each(function(){
                    var t = new Date($(this).attr('data-timestamp')*1000);
                    //('0' + t.getMinutes).slice(-2)
                    $(this).children(".time").html(('0'+t.getHours()).slice(-2)+':'+('0'+t.getMinutes()).slice(-2)+':'+('0'+t.getSeconds()).slice(-2));
                });
            }
            
            //Switch loading bar and buttons
            function loadingStatus(c, d){
                var loading = $("#loading");
                switch(c){
                    case 1: //Loading start
                        loading.html('Loading...<span>for a day\'s journey</span>');
                        loading.stop(true, false).fadeTo('fast', '0.7');
                        $('#datemenu').click(function(e){e.stopPropagation()});
                        break;
                    case 2: //Loading complete
                        loading.stop(true, false).fadeOut('fast');
                        $('#datemenu').click('');
                        break;
                    case 3: //Error
                        $('#content').click(function(){loading.css('display', 'none')});
                        loading.html('Loading failed<span class="mark" onclick="daySwitch('+d+')">retry?</span>');
                        loading.stop(true, false).fadeTo('fast', '0.9');
                        $('#datemenu').click('');
                        break;
                }
            }

            //Changing days
            function daySwitch(d){
                var dd = d/1000|0;
                $.ajax({
                    url:'method/day/'+(dd),
                    beforeSend:loadingStatus(1),
                    success:function(r){
                        displayDay = dd;
                        dateMenu();
                        $("#content").html(r);
                        if($(".log[data-tag!='__SYSTEM__']").length<15 && logStart*1000 < new Date(displayDay*1000)){ //Call another day if it's too cold today
                            d = new Date(d - 86400000),
                            lm = d.getMonth()+1,
                            ld = d.getDate();
                            $("#content").append($('<div class="date">'+d.getFullYear() + '-' + lm + '-' + ld +'</div>'));
                            $.ajax({
                                url:'method/day/'+String(dd-86400),
                                success:function(r){
                                    $("#content").append(r);
                                    timeWarp()
                                }
                            });
                        }else{
                            timeWarp()
                        }
                        loadingStatus(2);
                    },
                    error:function(){
                        loadingStatus(3, dd);
                    }
                });
            }

            function dateMenu(){
                var now = new Date(),
                td = new Date(displayDay*1000),
                m = td.getMonth()+1,
                pd = td*1-86400000,
                nd = td*1+86400000,
                pm, nm;
                if(logStart*1000 >= td){
                    pm = '<span class="grey-mark">◀</span>　';
                }else{
                    pm = '<span class="mark" title="Previous Day" onclick="daySwitch('+pd+')">◀</span>　';
                }
                if(nd >=now){
                    nm = '　<span class="grey-mark">▶</span>';
                }else{
                    nm = '　<span class="mark" title="Next Day" onclick="daySwitch('+nd+')">▶</span>';
                }
                $('#datemenu').html(pm + td.getFullYear() + '-' + m + '-' + td.getDate() + nm);
            }
            
            $(document).ready(function(){
                var d = new Date();
                displayDay = new Date(d.getFullYear(), d.getMonth(), d.getDate())/1000|0;   //All days marked with timestamp, most likely start of day
                dateMenu(); //Set date switch menu
                daySwitch(new Date(d.getFullYear(), d.getMonth(), d.getDate()));
            });
        </script>
        <link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90LEA8uI+eB/LwAAAAdaVRYdENvbW1lbnQAAAAAAENyZWF0ZWQgd2l0aCBHSU1QZC5lBwAAARJJREFUOMulk7FLw0AYxX/3NVB1sJNTwIK4ZGjxDxDErRTRuS5CszgUomPBveAW6KCgQ6CL/4E4CFI3FzFDdXDokMFBJyWINbgcSKnXJPVtx8d737t39xRAZe98HvCAFmCTjjbgh4EbK00eAGXyYQg4ojfnJaM5nmjbs6IlpjvvrN4iKkkTsMU0aVYuuWkcUl16nqpgFBCVUCp+0NvqcLxxylzhM59AQX7t11bu6O96rNthdgFLfY+di9aIcukFxXguVhYH18M1jvpN3r8WJhdNy+A1XmT/6oCnt2VjiEaBi8dNzh7qjBIr9RWivwYn99upZCASoPuPn9gVwNfFYIYy+RIGbgw4uqJRRnIbcMLAjX8AmldEPhP88kEAAAAASUVORK5CYII=" rel="icon" />
    </head>
    <body>
        <div id="banner">Log Grapher</div>
        <div id="headline"><%- headline %></div>
        <div id="topmenu"><%- topmenu %></div>
        <div id="datemenu" class="date">today</div>
        <div id="content"></div>
        <div id="loading"></div>
        <div id="footer">Log Grapher is first cooked by Seiken. Find it at <a href="https://github.com/Seiken-2ch/log-grapher" target="_blank">GitHub</a>.</div>
    </body>
</html>